

.MainSection {
    box-shadow: inset 0px 0px 50px rgba(128, 128, 128, 0.9);
}

@media(max-width: 900px){
    .ImgDiv div{
        margin: 10px
    }
    .ImgDiv div div{
        padding: 30px 0px;
    }
}

@media (min-width: 901px) {
    
    .MainSection{
        width: 100%;
    }
    .ImgDiv{   
        display: flex;
        align-items: center;
        justify-content: space-between;  
    }

    .ImgDiv div{
        display: block;
        margin: auto;
    }

    .Pic {
        width: 50%;     
    }
}
