.Button {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: honeydew;
    border: white double;
    padding: 0.5rem;
    cursor: pointer;
    font-family: "Voltaire", sans-serif;
    box-shadow: 0px 0px 40px 0px rgb(255, 255, 255);
}

.Button:hover{
    background-color:  rgb(51, 0, 0);
    border: rgb(252, 147, 147) double;
}

.Button:active{
background-color: rgb(158, 0, 0);

}

@media (max-width: 900px){
    .Button{
        width: 98%;
        margin-top: 3px;
    };
}


@media (min-width: 901px){
    .Button{
       border-radius: 60px;
       padding: 12px 20px;
       font-size: 22px;
    };
}
