.Footer {
    background-color: black;
    color: honeydew;
    padding: 30px;
}

.Face,
.Twitter,
.Insta {
    margin: 20px;
    color: white;
}

.Social {
    margin: 30px;
    display: inline-block;
    
}

.Social p a {
    color: white;
    text-decoration: none;
}

.PreSocial div a {
    color:white;
    text-decoration: none;
}

.PreSocial {
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
}

@media (min-width: 900px) {
    .Social {
        margin-left: 100px;
        margin-right: 100px;
    }
    .PreSocial {
        margin-right: 100px;
        margin-left: 100px;
    }
}
