

.MainSection {
    /* width: 100%; */
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 0px 5px 10px black;
}

.ImgDiv{
    background-image: url("../../../assets/images/afterr.jpg");
    background-size: cover;
}

@media(max-width:900px){
    .ImgDiv{
        height: 400px;
        padding: 30px;
    }
    .ImgDiv div{
        margin-bottom: 15px;
    }
}

@media (min-width: 901px) {
    
    .MainSection{
        width: 100%;
        padding-top: 30px;     
    }
    .ImgDiv{
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
        height: 700px;
        
        position: relative;
        bottom: 15px;

    }

    .ImgDiv div{
        position: relative; 
        top:150px;
        font-size: 30px;
    }
    .MainSectionImage {
        width: 90%;
        z-index: -2;     
    }

    Button {
        /* position: relative;
        top:80px; */
    }
   
}
